Hotels.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://Assignment4.com/hotels"
            xmlns="http://Assignment4.com/hotels"
            elementFormDefault="qualified">

    <xsd:element name="Hotels">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name ="Hotel" maxOccurs"unbounded">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Name" type="xsd:string"/>
                            <xsd:element name="Phone" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
                            <xsd:element name="Address">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="Number" type="xsd:integer"/>
                                        <xsd:element name="Street" type="xsd:string"/>
                                        <xsd:element name="City" type="xsd:string"/>
                                        <xsd:element name="State" type="xsd:string"/>
                                        <xsd:element name="Zip" type="xsd:string"/>
                                        <xsd:element name="NearestAirport" type="xsd:string"/>
                                    <xsd:sequence>
                                <xsd:complexType>
                            <xsd:element>
                            <xsd:element name="rating" type="xsd:decimal" minOccurs="0"/>
                        <xsd:sequence>
                    <xsd:complexType>
                <xsd:element>
            <xsd:sequence>
        <xsd:complexType>
    <xsd:element>  
<xsd:schema>